h2 {
    text-align: center;
    margin-top: 10px;
    font-size: 35px;
    padding: 10px;
    background-color: beige;
    align-items: center;
    color: rgb(13, 12, 14);
    font-weight: 900;
}
body{
    background-color: white;
}
img {
    width: 100vw;
    height: 1000px;
    padding-left: 200px;
    padding-right: 220px;
    background-color:rgb(5, 5, 5);
}
#exploreMenuSection img {
    height: 350px;
    background-color:rgb(65,3,65);
    padding-left: 10px;
    padding-right: 0px;
    padding-top: 10px; 
    padding-bottom: 10px;
}
.shadow {

    box-shadow: 0 .5rem 1rem rgba(177, 127, 174, 0.936)!important;
    background-color: rgb(238, 227, 227);
   
}
