.forgot-password {
    width: 30%;
    margin: 0 auto;
    box-shadow: rgb(109 109 125 / 28%) 0px 4px 7px 12px;
    text-align: center;
    padding: 20px;
    background-color: white;
    color: rgb(72, 16, 85);
    
}
table tr {
    border-style: hidden;
    text-align: center;
}
.back{
    background-color: beige;
}
h3{
    font-size: 40px;
}