<!-- <p>contact-us works!</p> -->
<div class="back">
  <br><br><br><br><br><br>
<div class="contact py-sm-5 py-4">
  <div class="container py-xl-4 py-lg-2">
    <!-- tittle heading -->
    <h2 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3" style="font-size: 40px; font-weight:900">
      <span>C</span>ontact
      <span>U</span>s
    </h2>
    <!-- tittle heading -->
    <div class="row contact-grids agile-1 mb-5">
      <div class="col-sm-4 contact-grid agileinfo-6 mt-sm-0 mt-2">
        <div class="contact-grid1 text-center">
          <div class="con-ic">
            <i class="fas fa-map-marker-alt rounded-circle"></i>
          </div>
          <h3 class="font-weight-bold mt-sm-4 mt-3 mb-3" style="font-size: 30 px;">Address</h3>
          <p style="font-weight: bold;color:black; text-decoration:underline;">Pune
            <label style="font-weight: bold;color:black;"><a style="font-weight: bold;color:black; text-decoration:underline;"
                href="https://www.google.com/maps/place/Hinjawadi,+Pune,+Pimpri-Chinchwad,+Maharashtra/@18.5993992,73.717219,14z/data=!3m1!4b1!4m6!3m5!1s0x3bc2bbc048041bef:0xd0c9eb5ac3c3dee5!8m2!3d18.5912716!4d73.738909!16s%2Fm%2F02qwznq?entry=ttu">
             Hinjawadi</a></label>
          </p>
        </div>
      </div>
      <div class="col-sm-4 contact-grid agileinfo-6 my-sm-0 my-4">
        <div class="contact-grid1 text-center">
          <div class="con-ic">
            <i class="fas fa-phone rounded-circle"></i>
          </div>
          <h3 class="font-weight-bold mt-sm-4 mt-3 mb-3" style="font-size: 30 px;">Call Us</h3>
          <p style="font-weight: bold;color:black;"><a style="text-decoration:underline;color:black;"
              href="tel:+1800 120 1193">9138937689 ,9128790876</a>
          </p>
        </div>
      </div>
      <div class="col-sm-4 contact-grid agileinfo-6">
        <div class="contact-grid1 text-center">
          <div class="con-ic">
            <i class="fas fa-envelope-open rounded-circle"></i>
          </div>

          <h3 class="font-weight-bold mt-sm-4 mt-3 mb-3" style="font-size: 30px;">Email</h3>
          <p style="text-decoration: underline;">
            <a style="font-weight: bold;color:black;" href="mailto:abc@gmail.com">Foodies@gmail.com</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br><br><br><br><br>
</div>